<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.shadowsocks">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-feature
            android:name="android.hardware.touchscreen"
            android:required="false"/>

    <uses-sdk
            android:minSdkVersion="9"
            android:targetSdkVersion="16"/>

    <application
            android:hardwareAccelerated="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name">

        <meta-data android:name="com.google.android.backup.api_key"
                   android:value="AEdPqrEAAAAI_zVxZthz2HDuz9toTvkYvL0L5GA-OjeUIfBeXg"/>


        <service
                android:name=".ShadowVpnService"
                android:label="@string/app_name"
                android:process=":vpn"
                android:permission="android.permission.BIND_VPN_SERVICE"
                android:exported="false">
            <intent-filter>
                <action android:name="android.net.VpnService"/>
            </intent-filter>
        </service>


    </application>

</manifest>
